<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Tour</h3>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Tour name</label>
      <div class="col-md-6">
        <input type="text" [(ngModel)]="tourDetails.name" class="form-control" placeholder="Name Tour">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Price</label>
      <div class="col-md-6">
        <input type="text" [(ngModel)]="tourDetails.price" class="form-control" placeholder="price">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Date start</label>
      <div class="col-md-6">
        <input type="date" [(ngModel)]="tourDetails.dateStart" class="form-control" placeholder="price">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Date end</label>
      <div class="col-md-6">
        <input type="date" [(ngModel)]="tourDetails.dateEnd" class="form-control" placeholder="price">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">People num</label>
      <div class="col-md-6">
        <input type="text" [(ngModel)]="tourDetails.peopleNumber" class="form-control" placeholder="people number">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Country</label>
      <div class="col-md-6">
        <select [(ngModel)]="tourDetails.hotel" class="form-control">
          <option *ngFor="let hotel of hotels"
                  [ngValue]="hotel">{{hotel.address.city.country.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">City</label>
      <div class="col-md-6">
        <select [(ngModel)]="tourDetails.hotel" class="form-control">
          <option *ngFor="let hotel of hotels"
                  [ngValue]="hotel">{{hotel.address.city.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Hotel</label>
      <div class="col-md-6">
        <select [(ngModel)]="tourDetails.hotel" class="form-control">
          <option *ngFor="let hotel of hotels"
                  [ngValue]="hotel">{{hotel.name + " " + hotel.address.name}}</option>
        </select>
      </div>
    </div>

    <!--    <select class="custom-select">-->
    <!--    <div class="form-group">-->
    <!--      <input type="checkbox" [(ngModel)]="tourDetails.firePrice" class="form-control" placeholder="fire price">-->
    <!--    </div>-->


    <!--      <option *ngFor="let hotel of hotels" [ngValue]="hotel.id">{{hotel.name + " " + hotel.address.city.name + " " + hotel.address.name }}</option>-->
    <!--    </select>-->


    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Tour type</label>
      <div class="col-md-6">
        <select [(ngModel)]="tourDetails.tourType" class="form-control">
          <option *ngFor="let tourType of tourTypes" [ngValue]="tourType">{{tourType.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 offset-md-6">
      <button type="submit" class="btn btn-primary" (click)="addTour()">Create Toure</button>
    </div>
  </div>
</div>
