<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>

  <p><a routerLink="/address-list"> Address list</a></p>
  <p><a routerLink="/city-list"> City list</a></p>
  <p><a routerLink="/hotel-list"> Hotel list</a></p>
  <p><a routerLink="/hotel-type-list"> Hotel type list</a></p>

  <p><a routerLink="/tour"> Tour</a></p>
  <p><a routerLink="/role"> ROle</a></p>
  <p><a routerLink="/user"> User</a></p>
  <p><a routerLink="/user-list-create"> User create</a></p>
  <p><a routerLink="/personal-data-list"> PeData</a></p>
  <p><a routerLink="/user-list-create"> Register</a></p>
  <p><a routerLink="/order-list-create"> Create order</a></p>
  <p><a routerLink="/tour-type-list"> TourType</a></p>
  <p><a routerLink="/tour-type-create"> Create TourType</a></p>
  <p><a routerLink="/tour-list-create"> Create Tour</a></p>

  <router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

