<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Tour</h3>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right">Tour name</label>
      <div class="col-md-6"><input type="text" [(ngModel)]="tourTypeDetails.name" class="form-control"
                                   placeholder="Name Tour type">
      </div>
    </div>

    <div class="col-md-6 offset-md-6">
      <button type="submit" class="btn btn-primary" (click)="addTourType()">Create Toure type</button>
    </div>

  </div>
</div>
